.select {
    height: auto;
    width: auto;
    margin: 0 auto;
    align-items: center;
}

.select_1 {
    background-color: #f8c3cd;
    width: 1300px;
    height: 50px;
    float: left;
    margin-left: 25px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.13);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


.select_1:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
    box-shadow: 0px 10px 10px 0px #A9A9A9;
}

.select_1 img {
    width: 330px;
    height: 220px;
    margin-left: 30px;

}

.select_1 h4 {
    padding-left: 30px;
}

.select_1 input {
    float: left;
    display: inline;
    margin-left: 250px;
    font-size: 18px;
    font-weight:bold;
}

.text_1{
    margin-top: 20px;
    display: flex;
}
.text_2{
    margin-top:-20px;
    margin-left: 1000px;
}
.button_0{
    margin-top:-20px;
    margin-left: 1000px;
}

.button_2{
    margin-top: 100px;
    margin-right: 100px;
    float: right;
}

.cbox {
    -webkit-appearance: none;
    width: 32px !important;
    height: 32px !important;
    display: inline-block;
    margin: -10px 5px 0 250px!important;
    cursor: pointer;
    vertical-align: middle;
    background-image:url(../img/check.png);
}
input.cbox:checked {
    background: url(../img/checked.png) no-repeat;
}
