<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoe_style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoe_w.css}"/>


</head>

<body>
<div class="c-nav">
    <div class="container navFlex">
        <!--<div class="flexItem">-->
        <!--<img class="logo" th:src="@{/img/index/wunsun-logo.png}" />-->
        <!--</div>-->

        <!--<div class="flexItem hiden">-->
        <!--<img class="btnImg" th:src="@{/img/index/navBtn.png}" />-->
        <!--</div>-->
        <div class="flexItem show">
            <ul>
                <li><a th:href="@{/shoe/user/index1}">首页</a></li>
                <li><a th:href="@{/user/showAllOrders}">我的订单</a></li>
                <li><a th:href="@{/shoppingcar/showshoppingcar}">我的购物车</a></li>
                <li><a th:href="@{/shoe/my}">我的信息</a></li>
                <!--<li><a href="#">我的</a></li>-->
                <li><a th:href="@{/shoe/chagelogin}">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<h1 align="center">
    我的收货地址
</h1>
<div align="center">
    <table width="65%" border="0" bgcolor="#f0ffff">
        <tr>
            <td><h3>[[${uinfo.userName}]]</h3></td>
            <td><h3>[[${uinfo.userContact}]]</h3></td>
            <td><a href="/shoe/showadd">编辑</a></td>
        </tr>
        <br>
        <tr>
            <td><h3>[[${uinfo.userAdd}]]</h3>
            </td>
        </tr>

    </table>
</div>








<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">
    //用于判断导航栏的状态
    var toggle = true;

    //导航栏按钮
    $('.btnImg').click(function() {
        if (toggle) {
            $('.btnImg').css("border", "1px solid #b0ccf3");
            toggle = false
        } else {
            $('.btnImg').css("border", "1px solid transparent");
            toggle = true;
        }
        $(".show").slideToggle(300);
    });

    //窗口大小发生改变
    $(window).resize(function() {
        //获取窗口宽度
        var windSize = $(window).width();

        if (windSize > 423) {
            $(".show").slideDown(0);
        } else {
            $(".show").slideUp(0);
        }
    });
</script>
</body>
</html>