<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="utf-8" />
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoe_style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoe_w.css}"/>
</head>
<body>
<div class="c-nav">
    <div class="container navFlex">

        <div class="flexItem show">
            <ul>
                <li><a th:href="@{/shoe/user/index1}">首页</a></li>
                <li><a th:href="@{/user/showAllOrders}">我的订单</a></li>
                <li><a th:href="@{/shoppingcar/showshoppingcar}">我的购物车</a></li>
                <li><a th:href="@{/shoe/my}">我的信息</a></li>
                <!--<li><a href="#">我的</a></li>-->
                <li><a th:href="@{/shoe/chagelogin}">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>


<div align="center">
    <h1>个人中心</h1>
    <table>
        <tr>
            <td><img src="/image/c1.jpg" width="100px" height="100px" /></td>
            <td><h2>[[${name}]]</h2></td>
        </tr>
    </table>

    <br/>
        <div>
            <ul>
                <li><a th:href="@{/shoe/money}"><h3>我的余额</h3></a></li>
                <br/><br/>
                <li><a th:href="@{/shoe/address}"><h3>地址管理</h3></a></li>
            </ul>
            <!--                <h4>账户管理</h4>-->
            <!--                <ul>-->
            <!--                    <li  class="on"><a href="#">个人信息</a></li>-->
            <!--                    <li><a href="#">修改密码</a></li>-->
            <!--                </ul>-->
        </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">
    //用于判断导航栏的状态
    var toggle = true;

    //导航栏按钮
    $('.btnImg').click(function() {
        if (toggle) {
            $('.btnImg').css("border", "1px solid #b0ccf3");
            toggle = false
        } else {
            $('.btnImg').css("border", "1px solid transparent");
            toggle = true;
        }
        $(".show").slideToggle(300);
    });

    //窗口大小发生改变
    $(window).resize(function() {
        //获取窗口宽度
        var windSize = $(window).width();

        if (windSize > 423) {
            $(".show").slideDown(0);
        } else {
            $(".show").slideUp(0);
        }
    });
</script>
<div style="text-align:center;">

</div>
</body>
</html>