<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>导航</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/food_style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/food_w.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cartStyle.css}">

    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>

</head>
<body>
<div class="c-nav">
    <div class="container navFlex">
        <!--<div class="flexItem">-->
        <!--<img class="logo" th:src="@{/img/dining/wunsun-logo.png}" />-->
        <!--</div>-->

        <!--<div class="flexItem hiden">-->
        <!--<img class="btnImg" th:src="@{/img/dining/navBtn.png}" />-->
        <!--</div>-->
        <div class="flexItem show">
            <ul>
                <li><a th:href="@{/shoe/user/index1}">首页</a></li>
                <li><a th:href="@{/user/showAllOrders}">我的订单</a></li>
                <li><a th:href="@{/shoppingcar/showshoppingcar}">我的购物车</a></li>
                <li><a th:href="@{/shoe/my}">我的信息</a></li>
                <!--<li><a href="#">我的</a></li>-->
                <li><a th:href="@{/shoe/chagelogin}">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="content">
    <form th:action="@{/shoppingcar/showshoppingcar}" method="post" onsubmit="return clicked()">
        <table align="center" width="80%" style="font-size: x-large" cellspacing="20px">
            <thead>
               <tr>
                   <th colspan="2">商品信息</th>
                   <th>单价</th>
                   <th style="width:80px;">数量</th>
                   <th>小计</th>
               </tr>
            </thead>
            <tbody>
                <tr th:each="shoppingCar:${shoppingCars}">
                    <td align="center"><img th:src="${shoppingCar.shoePicture}" width="200px" height="120px"/></td>
                    <td width="500px">[[${shoppingCar.shoeName}]]<br/>鞋码：[[${shoppingCar.shoeSize}]]</td>
                    <td align="center">¥[[${shoppingCar.price}]]</td>
                    <td align="center" width="150px">[[${shoppingCar.quantity}]]</td>
                    <td name="xiaoji" align="center">¥[[${shoppingCar.price*shoppingCar.quantity}]]</td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2"></td>
                <td>总金额：</td>
                <td id="totalPrice">￥[[${amount}]]</td>
                <td><input type="submit" value="确认支付"></td>
            </tr>
            </tfoot>

        </table>
    </form>

</div>


<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">
    //用于判断导航栏的状态
    var toggle = true;

    //导航栏按钮
    $('.btnImg').click(function() {
        if (toggle) {
            $('.btnImg').css("border", "1px solid #b0ccf3");
            toggle = false
        } else {
            $('.btnImg').css("border", "1px solid transparent");
            toggle = true;
        }
        $(".show").slideToggle(300);
    });

    //窗口大小发生改变
    $(window).resize(function() {
        //获取窗口宽度
        var windSize = $(window).width();

        if (windSize > 423) {
            $(".show").slideDown(0);
        } else {
            $(".show").slideUp(0);
        }
    });

    function clicked() {
        if (confirm("确认购买吗？")) {
            //发送ajax请求购买
            $.ajax({
                url: "/shoppingcar/buyshoesure",
                type: "post",
                dataType: "json",
                async: false, // 让ajax执行代码顺序同步
                success: function (data) {
                    if (data.msg == "false") {
                        alert("抱歉，余额不足！");
                    } else {
                        alert("购买成功！");
                    }
                }
            });
        }
    }
</script>
<div style="text-align:center;">

</div>
<!--<script src="http://www.mycodes.net/js/tongji.js"></script>-->
<!--<script src="http://www.mycodes.net/js/youxia.js" type="text/javascript"></script>-->
</body>
</html>