<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>导航</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/food_style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/food_w.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cartStyle.css}">

    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>

</head>
<body>
<div class="c-nav">
    <div class="container navFlex">
        <!--<div class="flexItem">-->
        <!--<img class="logo" th:src="@{/img/dining/wunsun-logo.png}" />-->
        <!--</div>-->

        <!--<div class="flexItem hiden">-->
        <!--<img class="btnImg" th:src="@{/img/dining/navBtn.png}" />-->
        <!--</div>-->
        <div class="flexItem show">
            <ul>
                <li><a th:href="@{/shoe/user/index1}">首页</a></li>
                <li><a th:href="@{/user/showAllOrders}">我的订单</a></li>
                <li><a th:href="@{/shoppingcar/showshoppingcar}">我的购物车</a></li>
                <li><a th:href="@{/shoe/my}">我的信息</a></li>
                <!--<li><a href="#">我的</a></li>-->
                <li><a th:href="@{/shoe/chagelogin}">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="content">
    <form th:action="@{/shoppingcar/pay}" method="post" onsubmit="return clicked()">
        <table class="cartList" align="center" width="80%" style="font-size: x-large" cellspacing="20px">
            <thead>
            <th>全选<input type="checkbox" id="check_all"></th>
            <th style="visibility:hidden">#</th>
            <th colspan="2">商品信息</th>
            <th>单价</th>
            <th style="width:80px;">数量</th>
            <th>总金额</th>
            <th>操作</th>
            </thead>
            <tbody>
            <tr th:each="shoppingCar:${shoppingCars}">
                <td align="center"><input type="checkbox" class="check_item" /></td>
                <td style="visibility:hidden">[[${shoppingCar.shoppingcarId}]]</td>
                <td align="center"><img th:src="${shoppingCar.shoePicture}" width="200px" height="120px"/></td>
                <td width="500px">[[${shoppingCar.shoeName}]]<br/>鞋码：[[${shoppingCar.shoeSize}]]</td>
                <td align="center">¥<input type="text" name="price" th:value="${shoppingCar.price}"></td>
                <td align="center" width="150px">
                    <input type="button" name="minus" value="-">
                    <input type="text" name="amount" th:value="${shoppingCar.quantity}">
                    <input type="button" name="plus" value="+">
                </td>
                <td name="xiaoji" align="center">¥[[${shoppingCar.price*shoppingCar.quantity}]]</td>
                <td align="center"><a th:href="@{/shoppingcar/deleteOnecar(shoppingcarId=${shoppingCar.shoppingcarId})}">删除</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7"></td>
                <td><input type="submit" value="结算"></td>
            </tr>
            </tfoot>

        </table>
    </form>


</div>


<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">
    //用于判断导航栏的状态
    var toggle = true;

    //导航栏按钮
    $('.btnImg').click(function() {
        if (toggle) {
            $('.btnImg').css("border", "1px solid #b0ccf3");
            toggle = false
        } else {
            $('.btnImg').css("border", "1px solid transparent");
            toggle = true;
        }
        $(".show").slideToggle(300);
    });

    //窗口大小发生改变
    $(window).resize(function() {
        //获取窗口宽度
        var windSize = $(window).width();

        if (windSize > 423) {
            $(".show").slideDown(0);
        } else {
            $(".show").slideUp(0);
        }
    });

    var danjia=document.getElementsByName("price");//单价
    var jian=document.getElementsByName("minus");//-
    var add=document.getElementsByName("amount");//数量
    var jia=document.getElementsByName("plus");//+
    var xiaoji=document.getElementsByName("xiaoji");

    //--单击事件
    for(var i=0;i<jian.length;i++){
        jian[i].index=i;
        jian[i].onclick=function() {
            if(add[this.index].value<=1){
                alert("数量最小值为1");
            } else{
                add[this.index].value--;
                var price=danjia[this.index].value;
                var count=add[this.index].value;
                var total=parseFloat(price*count);
                xiaoji[this.index].innerHTML="¥" +total.toFixed(1);
                var id = $(this).parents("tr").find("td:eq(1)").text();
                $.ajax({
                    url:"/shoppingcar/setQuantity2",
                    type:"post",
                    data:{"id":id},
                    dataType:"json",
                    async:false, // 让ajax执行代码顺序同步
                    success: function (data) {
                        if (data.msg == "false") {
                            alert("修改失败");
                        }
                        else {
                            alert("修改成功");
                        }
                    }
                });
            }
        }
    }
    //++单击事件
    for(var i=0;i<jia.length;i++){//数量无上限
        jia[i].index=i;
        jia[i].onclick=function() {
            add[this.index].value++;
            var price=danjia[this.index].value;
            var count=add[this.index].value;
            var total=parseFloat(price*count);
            xiaoji[this.index].innerHTML="¥" +total.toFixed(1);

            var id = $(this).parents("tr").find("td:eq(1)").text();
            $.ajax({
                url:"/shoppingcar/setQuantity1",
                type:"post",
                data:{"id":id},
                dataType:"json",
                async:false, // 让ajax执行代码顺序同步
                success: function (data) {
                    if (data.msg == "false") {
                        alert("修改失败");
                    }
                    else {
                        alert("修改成功");
                    }
                }
            });
        }
    }

    //计算总额
    // function total(){
    //     var prices=document.getElementsByName("price");
    //     var count=document.getElementsByName("amount");
    //     var sum=0;
    //     for(var i=0; i<prices.length;i++){
    //         sum+=prices[i].value*count[i].value;
    //     }
    //     document.getElementById("totalPrice").getElementsByTagName("span")[0].innerHTML="¥" +sum.toFixed(2);
    // }

    //完成全选/全不选功能
    $("#check_all").click(function(){
        $(".check_item").prop("checked",$(this).prop("checked"));
    });

    //check_item
    $(document).on("click",".check_item",function(){
        var flag = $(".check_item:checked").length==$(".check_item").length;
        $("#check_all").prop("checked",flag);
    });

    function clicked(){
        var ids = "";
        $.each($(".check_item:checked"),function(){
            //组装购物车id字符串
            ids += $(this).parents("tr").find("td:eq(1)").text()+"-";
        });
        //去除id多余的-
        ids = ids.substring(0, ids.length-1);
        if(confirm("确认购买吗？")){
            //发送ajax请求购买
            $.ajax({
                url:"/shoppingcar/buy",
                type:"post",
                data:{"ids":ids},
                dataType:"json",
                async:false, // 让ajax执行代码顺序同步
                success: function (data) {
                    if (data.msg == "false") {
                        alert("购买失败");
                    }
                    else {
                        alert("去支付");
                    }
                }
            });
        }
    }
</script>
<div style="text-align:center;">

</div>
<!--<script src="http://www.mycodes.net/js/tongji.js"></script>-->
<!--<script src="http://www.mycodes.net/js/youxia.js" type="text/javascript"></script>-->
</body>
</html>