<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="utf-8" />
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoe_style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoe_w.css}"/>
</head>
<body>
<div class="c-nav">
    <div class="container navFlex">

        <div class="flexItem show">
            <ul>
                <li><a th:href="@{/shoe/user/index1}">首页</a></li>
                <li><a th:href="@{/user/showAllOrders}">我的订单</a></li>
                <li><a th:href="@{/shoppingcar/showshoppingcar}">我的购物车</a></li>
                <li><a th:href="@{/shoe/my}">我的信息</a></li>
                <!--<li><a href="#">我的</a></li>-->
                <li><a th:href="@{/shoe/chagelogin}">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>

<form action="/shoe/moneysave" method="post">
    <table>
        <tr>
            <td>充值金额为：</td>
            <td><input type="text" name="userSave" title="余额" id="userSave"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">确定</button></a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>